#nav {
    position: absolute;
    top: 8px;
    left: 640px;
    width: 400px;
}

#chart {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 600px;

}

#notes {
    position: absolute;
    top: 48px;
    left: 640px;
    width: 400px;
}

#lists {
    position: absolute;
    top: 10px;
    left: 640px;
    width: 440px;
    height: 40px;
}

#status {
    position: absolute;
    top: 60px;
    left: 640px;
    width: 440px;
    height: 40px;
}


#controls {
    position: absolute;
    top: 110px;
    left: 640px;
    width: 440px;
    height: 490px;
}


.polygons {
    fill: #ffffff;
}

.cell {
    stroke: #000;
    stroke-opacity: 10%;
    stroke-width: 0
}

.link {
    stroke: #000;
    stroke-opacity: 0.4;
    stroke-width: 0.1;
}

.nodes {
/*    filter: blur(5px);*/
}

.node {
    stroke-width: 0;
    pointer-events: none;
}


circle.demo {
    stroke-width: 0;
    fill: #888888;
}
