#nav {
    position: absolute;
    top: 8px;
    left: 640px;
    width: 400px;
}

#chart {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;

}

#notes {
    position: absolute;
    top: 48px;
    left: 640px;
    width: 400px;
}


.polygons {
  fill: #ffffff;
}

.cell {
    stroke: #000;
    stroke-opacity: 10%;
  stroke-width: 0
}

.link {
    stroke: #000;
    stroke-opacity: 20%;
    stroke-width: 0.1;
}

.node {
    stroke-width: 0;
    pointer-events: none;
}
